/*Selector universal para resetear todo*/
* {
  box-sizing: border-box;
  margin: 0;
}

/*Estilos para los textos*/
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

/*Tamaño del logo*/
.logo {
  color: #BD081C;
  font-size: 40px;
}

/*Tamaño de los iconos ubicados en la parte derecha en la cabecera*/
.icon {
  font-size: 25px;
}

/*Color de fondo gris*/
.background-gray {
  background-color:  #EFEFEF;
}

/*Color gris*/
.color-gray {
  color: #B5B5B5;
}

/*Estilos para el menu*/
.menu {
  border-radius: 10px;
  display: inline-block;
  /*Alinear los bloques en la parte superior*/
  padding-left: 5%;
  padding-right: 40px;
  vertical-align:middle;
}

/*margen para el submenu*/
.container-1 {
  margin-left: 50px;
}

/*Caja de texto del menu*/
.box-text {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  height: 40px;
  width: 740px;
}

/*Pseudo-clases para el color del submenu vertical*/
.sub-menu li:nth-child(2n-1) {
    background-color:  #746050;
}

.sub-menu li:nth-child(2n) {
    background-color:  #AB8B6F;
}

.sub-menu li:nth-child(4n) {
    background-color:  #96944D;
}

/*Cabecera*/
header {
  background-color: #FFF;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width:  100%;
}

/*Linea horizontal que divide el menu y el submenu*/
hr {
  margin: 10px 0px;
}

/*Sub menu*/
.sub-menu {
  list-style: none;
}

.sub-menu li {
  border-radius: 10px;
  display: inline-block;
  margin-left: 2%;
}

.sub-menu li a {
  color: #fff;
  display: block;
  height: 60px;
  text-align: center;
  text-decoration: none;
  padding: 20px;
}

/*Seccion del contenido*/
section {
  margin: 150px 60px 0 60px;
}

.image-section {
  display: inline-block;
  margin-left: 20px;
  width: 280px;
}

.image-section img {
  border-radius: 10px;
  padding: 0;
  width: 280px;
}

.text-image-section {
  font-weight: normal;
  margin-bottom: 10px;
}
